<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl8xgYR00LcHgRn51ydJzG6IDymEHfLzY</string>
	<key>GCM_SENDER_ID</key>
	<string>264905641690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.casetracker</string>
	<key>PROJECT_ID</key>
	<string>casetracker-4a2ac</string>
	<key>STORAGE_BUCKET</key>
	<string>casetracker-4a2ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264905641690:ios:916b17b9eab6ddfa4cdfe3</string>
</dict>
</plist>